.article{
  border: 20px solid blue;
  margin: 20px;
  width: 500px;
  box-shadow: 20px 50px 30px grey;
  background-color: transparent;

}
.header{
  height: 600px;
  background-color: lightskyblue;
  background-image: url(frozen.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  color: white;
  padding: 20px;
}